<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="./">
        <div class="navbar-brand-img">
          <img src="assets/images/logo.png" style="max-width: 100px; height: auto;" class="animate" alt="">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          {% assign current_url = page.url | downcase | replace: './', '' | replace: '/', '' %}
          <li class="nav-item {% if current_url == '' %}active{% endif %}"><a href="./" class="nav-link">{% translate menu.home %}</a></li>
          <li class="nav-item {% if current_url == 'about' %}active{% endif %}"><a href="about" class="nav-link">{% translate menu.about %}</a></li>
          <li class="nav-item {% if current_url == 'features' %}active{% endif %}"><a href="features" class="nav-link">{% translate menu.features %}</a></li>
          <li class="nav-item {% if current_url == 'app' %}active{% endif %}"><a href="app" class="nav-link">{% translate menu.app %}</a></li>
          <li class="nav-item {% if current_url == 'pricing' %}active{% endif %}"><a href="pricing" class="nav-link">{% translate menu.pricing %}</a></li>
          <li class="nav-item {% if current_url == 'contact' %}active{% endif %}"><a href="contact" class="nav-link">{% translate menu.contact %}</a></li>
        </ul>
      </div>
    </div>
  </nav>
