<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="./">
        <div class="navbar-brand-img">
          <img src="assets/images/logo.png" style="max-width: 100px; height: auto;" class="animate" alt="">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          {% assign current_url = page.url | downcase | replace: './', '' | replace: '/', '' %}
          {% for item in site.data.pages.docs %}
            {% assign item_url = item.url | replace: './', '' %}
            <li class="nav-item {% if current_url == item_url %}active{% endif %}"><a href="{{ item.url }}" class="nav-link">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
